#navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#navbar.bgActive {
  background: #181d23;
}

#navbar .navWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 2rem;
}

#navbar .brand {
  font-size: 1.6rem;
  color: #fafafa;
  cursor: default;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.container {
  display: inline-block;
  cursor: pointer;
  background-color: #fafafa00;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fafafa;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.active .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.container:hover > .bar1, .container:hover > .bar2, .container:hover > .bar3 {
  background-color: #53c9ff;
}